.explore {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  overflow: auto;
  flex-direction: row;
  height: 85vh;
  padding: 0px;
  text-transform: capitalize;
  color: white;
}
.explore-post {
  align-items: center;
  max-height: 100px;
  margin: 10px 5px;
}
.explore-img {
  border: 2px solid wheat;
  border-radius: 10px;
  max-width: 110px;
  width: max-content;
  max-height: 100px;
}
