.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30vw;
  height: 85vh;

  padding: 0px;
  color: white;
}
.stories {
  padding: 50px ;
  border-bottom: 2px solid rgb(255, 255, 255);
  display: flex;
  align-items: flex-end;
  overflow: scroll hidden;
  justify-content: center;
  width: 90%;
  height: 0vh;
}
.stories::-webkit-scrollbar {
  display: none;
}
.stories::-webkit-scrollbar-track {
}
.stories::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 5px solid rgb(249, 249, 249); /* creates padding around scroll thumb */
}
.stories ul {
  height: 5vh;
  width: 140%;
}
.stories ul li {
  margin: 0 5px;
}

.stories ul li a {
  background-color: rgb(146, 146, 146);
  width: 70px;
  height: 70px;
  border-radius: 50% !important;
}
.posts {
  display: flex;
  align-items: center;
  width: 90%;
  height: 65vh;
  border: 2px solid rgb(248, 248, 248);
  border-radius: 5px;
  padding: 0px 10px;
  margin-top: 0.7vh;
}
.modal-dialog {
  height: 90%;
}
.modal-body{
  width: 100%;
}
.modal-footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.modal-footer svg{
  font-size: 4vh;
  margin-right: 90%;
  margin-top:10px ;

}
.modal-body img{
  width: 100%;
  height: 45vh;
  margin-top: 10px;

}
.modal-title {
}
.modal-title img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.modal-header p{
margin-right: 100%;
margin-left: 10px;
margin-top: 10px
;
text-transform: capitalize;
}
