.login-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30vw;
  background-image: linear-gradient(rgb(0, 30, 255), rgb(30, 30, 30));
  height: 100vh;
  border-radius: 10px;
  color: whitesmoke;
  text-transform: capitalize;
}
.login-from {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30vw;
  padding: 5px;
}
.login-from input {
  width: 25vw;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}
.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: max-content;
  padding: 5px;
  width: 100%;
}
.login-btn a {
  border: 1px solid rgb(255, 243, 222);
  background-color: blue;
  text-decoration: none;
  padding: 10px 4.1vw;
  border-radius: 10px;
  color: white;
  margin: 0 1vw;
  transition: all 0.2s ease-in-out;
}
.login-btn a:hover,
.register-btn a:hover {
  font-size: 1.2rem;
  padding: 10px 3.9vw;
}

.register-from {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30vw;
  padding: 5px;
}
.register-from input {
  width: 25vw;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}
.register-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: max-content;
  padding: 5px;
  width: 100%;
}
.register-btn a {
    transition: all .2s ease-in-out;
  border: 1px solid rgb(255, 243, 222);

  background-color: blue;
  text-decoration: none;
  padding: 10px 4.1vw;
  border-radius: 10px;
  color: white;
  margin: 0 1vw;
}
