.nav-weather-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  height: 96.8vh;
  width: 50vw;
  border-radius: 10px;
  margin-left: 1.5vw;
}
.search-nav {
  height: 7vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  color: white;
  background-color: #202b3b;
  padding: 10px;
  border: none;
  height: 35px;
  border-radius: 10px;
  width: 95%;
  outline: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.557);
}
.main-info-nav {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 4vh;
  margin-bottom: 2vh;
}
.main-weather-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10%;
  width: 25vw;
  margin: auto;
}
.city-name {
  font-size: 2rem;
  margin-bottom: auto;
}
.city-situation {
  color: #828893;
  margin-bottom: auto;
}
.city-temp {
  font-size: 3rem;
  margin-bottom: auto;
}
.weather-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 20vh;
}
.weather-img img {
  height: 20vh;

  align-content: center;
  align-items: center;
  align-self: center;
}

.today-forecast-nav {
  width: 100%;
  border-radius: 10px;
  background-color: #202b3b;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 2vh 1vw;
}
.today-forecast-h2 {
  padding: 0 2vw;
  font-size: 1rem;
  color: #828893;
}
.forecast-time-nav {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.forecast-time-info {
  padding: 1vh;
  width: 9.5vw;
  height: 25vh;
  border-right: 1px solid #828893;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.forecast-time {
  color: #828893;
}
.forecast-img {
  margin-bottom: 1vh;
  height: 10vh;
}
.forecast-temp {
  color: white;
  font-size: 1.3rem;
}
.last {
  border: none;
}
.air-conditions-nav {
  width: 100%;
  border-radius: 10px;
  background-color: #202b3b;
  display: flex;
  flex-direction: row;
  padding: 2vh 1vw;
  height: 20vh;
  margin-top: 3vh;
}
.air-infos-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.air-infos {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 25vw;
}
.air-infos-temp-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  color: #828893;
}
.air-infos-temp {
  margin: 5px;
  font-size: 1.5rem;
}
.air-infos-characteristic {
  font-size: 2rem;
  margin-right: 5px;
}
.infos-info {
  font-size: 2rem;
}
@media only screen and (max-width: 600px) {
  .nav-weather-info {
    font-size: 0.7rem;
  }
  .air-infos-nav,
  .air-infos {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 550px) {
  .nav-weather-info {
    font-size: 0.7rem;
  }
  .forecast-temp {
    font-size: 0.8rem;
  }
  .forecast-time-info {
  }
  .forecast-img {
    height: 7vh;
  }
  .air-infos-temp {
    font-size: 1rem;

  }
  .air-infos-characteristic {
    font-size: 1rem;
  }
  .infos-info {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .nav-weather-info {
    width: 48vw;
  }
}