.nav-weather-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  height: 96.8vh;
  width: 50vw;
  border-radius: 10px;
  margin-left: 1.5vw;
}
.search-nav {
  width: 100%;
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  color: white;
  background-color: #202b3b;
  padding: 10px;
  border: none;
  height: 35px;
  border-radius: 10px;
  width: 95%;
  outline: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.557);
}
.main-info-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 5vh;
}
.main-weather-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10%;
  width: 25vw;
  margin: auto;
}
.city-name {
  font-size: 2rem;
  margin-bottom: auto;
}
.city-situation {
  color: #828893;
  margin-bottom: auto;
}
.city-temp {
  font-size: 3rem;
  margin-bottom: auto;
}
.weather-img {
  width: 25vw;
}
.today-forecast-nav {
  width: 100%;
  border-radius: 10px;
  background-color: #202b3b;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 2vh 2vw ;
}
.today-forecast-h2 {
  font-size: 1rem;
  color: #828893;
}
.forecast-time-nav {
    margin-top: 15px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: right;
}
.forecast-time-info {
    padding: 1vh;
    width: 8vw;
    height: 20vh;
    border-right: 1px solid #828893;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.forecast-time {
  color: #828893;
}
.forecast-img {
}
.forecast-temp {
  color: #828893;
}
