.story-screen {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.people-story {
  width: 100%;
  height: 65vh;
}
.time-line {
  height: 2px;
  align-self: flex-start;

  background-color: white;
}
.cross-icon {
    cursor: pointer;
  align-self: flex-end;
  margin-right: 0.5vw;
  font-size: 2rem;
}
