.App {
  background: linear-gradient(#555d69, #222d3c);
  color: #c4cad3;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
  height: 100vh;
  background-color: #0b131e;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.Rain{
  background-image: url(./images//light-rain.png);
}
.Clear {
    background-image: url(./images/sun.png);
}
.Snow{
    background-image: url(./images/snow.png);
}
.Fog{
    background-image: url(./images/fog.png);
}
.Clouds{
    background-image: url(./images/cloudy.png)
}
.thunderstorm{
  background-image: url(./images/thunderstorm.png)
}